@charset "UTF-8";
body {
  background-color: #78684A;
  background-image: url(img/filterforge.jpg);
  background-repeat: repeat;
  font-family: serif;
}
main {
  background: #E5E5E5;
  margin: 0.7em;
  padding: 0.5em;
}

footer {
  background: #E5E5E5;
  margin: 0.7em;
  padding: 0.5em;
  }
a:link {
  color: #0B690B;
  text-decoration: none;
  /*border: thin solid #25639E;*/
}
a:visited {
  color: #0B690B;
 }
.screenshot {
  border: medium double black;
}
/* The header related stuff*/


header{
  position: static;
  background: #E5E5E5;
  margin: 0.7em;
  padding: 0.5em;
}
.argoste-logo {
position: absolute;
right: 2.5%;
top: 1.5%;
width: 80px;
height: 80px;
}

header li{
  display: inline;
  list-style-type: none;
}
nav li{
  padding: 0.2em;
  margin: 0.2em;
  border: solid thin #0B690B;
  font-size: 110%;
}
div.choose-lang li{
  margin: 0.2em;
  padding: 0.2em;
  font-size: 90%;
}
/*end of header stuff*/

}
div.license {
  margin-top: 2em;
}
.logo {
  width: 8%;
}
/* FIGURE, TABLE, BLOCKQUOTE----------------------*/
td {border: solid 0.05em black; padding: .2em .2em; }

/* START OF MULTIMEDIA ELEMENTS */
figure{
  width: 80%;
  border: dashed thin grey ;
}
img {
  width: inherit;
}
embed {
  width: inherit;
}
/*END of MULTIMEDIA ELEMENTS*/
figure.decoration {
  width: 50%;
  border: dashed medium #7F7F7F;
}
div.lateriz-nav {
  margin-top: 2em;
  }
div.lateriz-nav li {
  padding: 0.7em;
  font-size: 80%;
  border: dashed thin #0B690B;
}
